<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.webflutter.myandroidjetpackpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="xyz.webflutter.myandroidjetpackpro.testing.SingleFragment" />
    </application>
</manifest>
